@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(./fonts/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Karla;
  src: local('Karla'), url(./fonts/Karla-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Karla;
  src: local('Karla'), url(./fonts/Karla-Bold.ttf) format('truetype');
  font-weight: bold;
}

html {
  font-family: Karla, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  min-height: 100vh;
  background: #edbfc6;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
}

@keyframes fade-in-slide {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
