@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(./fonts/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Karla;
  src: local('Karla'), url(./fonts/Karla-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Karla;
  src: local('Karla'), url(./fonts/Karla-Bold.ttf) format('truetype');
  font-weight: bold;
}

html {
  font-family: Karla, sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  min-height: 100%;
  background: #edbfc6;
  background-image: url('/couple.png');
  background-repeat:no-repeat;
  background-size: 120px;
  background-position: top 2rem left 1rem;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
}
